<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="DbService" class="ru.otus.java_2017_04.golovnin.hw11.DbService.MySqlDbService">
    </bean>
    <!--<bean id="TestRig" class="ru.otus.java_2017_04.golovnin.hw13.TestRig.DbServiceTestRig" >-->
        <!--<constructor-arg ref="DbService"></constructor-arg>-->
    <!--</bean>-->
</beans>