<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>
  <display-name>hw13</display-name>
  <description>Database Service Administration Application</description>

    <listener>
        <listener-class>ru.otus.java_2017_04.golovnin.hw13.WebApp.ApplicationContextLoader</listener-class>
    </listener>

    <servlet>
        <servlet-name>LoginFormServlet</servlet-name>
        <servlet-class>ru.otus.java_2017_04.golovnin.hw13.WebApp.FormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginFormServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>ru.otus.java_2017_04.golovnin.hw13.WebApp.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ru.otus.java_2017_04.golovnin.hw13.WebApp.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
</web-app>
